<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ab.piggybank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".ApiCallerService"
            android:exported="false" />
        <service
            android:name=".FillCurrencyNameTableService"
            android:exported="false" />

        <activity
            android:name=".activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SetupSlideActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/introActivity" />
        <activity
            android:name=".activity.setup1.setupActivity"
            android:exported="true"
            android:label="@string/title_activity_setup"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ChooseCountryActivity"
            android:exported="true"
            android:label="@string/title_activity_choose_country"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AddTransactionActivity"
            android:exported="true"
            android:label="@string/title_activity_add_transaction"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.Calculator"
            android:exported="true"
            android:label="@string/title_activity_calculator"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Category"
            android:exported="true"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DetailTransaction"
            android:label="@string/title_activity_detail_transaction"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MainDebtActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailDebtActivity"
            android:label="@string/title_activity_detail_debt"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddDebtTransaction"
            android:exported="true"
            android:label="@string/title_activity_add_debt_transaction"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>